@model List<TradeNest.Models.CategoryParameter>
@for (int i = 0; i < Model.Count; i++)
{
    <div class="filter-group">
        <label class="filter-label">
            @Model[i].Name
            @if (Model[i].IsRequired)
            {
                <span class="text-danger ms-1">*</span>
            }
        </label>
        <input type="hidden" name="parameters[@i].Id" value="@Model[i].Id" />
        @if (Model[i].Type == TradeNest.Models.ParameterType.Text)
        {
            <input type="text"
                   name="parameters[@i].Value"
                   class="form-control form-control-dark"
                   @(Model[i].IsRequired ? "required" : "") />
        }
        @if (Model[i].Type == TradeNest.Models.ParameterType.Number)
        {
            <input type="number"
                   name="parameters[@i].Value"
                   class="form-control form-control-dark"
                   @(Model[i].IsRequired ? "required" : "") />
        }
        @if (Model[i].Type == TradeNest.Models.ParameterType.Date)
        {
            <input type="date"
                   name="parameters[@i].Value"
                   class="form-control form-control-dark"
                   @(Model[i].IsRequired ? "required" : "") />
        }
        @if (Model[i].Type == TradeNest.Models.ParameterType.Boolean)
        {
            <div class="form-check">
                <input type="hidden" name="parameters[@i].Value" value="false" />
                <input type="checkbox"
                       name="parameters[@i].Value"
                       value="true"
                       class="form-check-input" />
                <label class="form-check-label">Tak</label>
            </div>
        }
    </div>
}